In [1]:
import os
cwd = os.getcwd()
data_dir = cwd + '/dataset'
os.listdir(data_dir)

['prev_check2_clean.csv',
 'application_test.csv',
 '.DS_Store',
 'HomeCredit_columns_description.csv',
 'POS_CASH_balance.csv',
 'credit_card_balance.csv',
 'installments_payments.csv',
 'application_train.csv',
 'bureau.csv',
 'bu_clean.csv',
 'prev_check1_clean.csv',
 'previous_application.csv',
 'HomeCredit_columns_description.xls',
 'bureau_balance.csv',
 'sample_submission.csv']

In [2]:
import numpy as np
import pandas as pd
import plotly.offline as py
import plotly.graph_objs as go
import plotly.tools as tls
pd.set_option('max_columns',500)
pd.set_option('max_rows',500)

In [3]:
bureau_data = pd.read_csv(data_dir+'/bureau.csv')
bureau_balance_data = pd.read_csv(data_dir+'/bureau_balance.csv')

In [4]:
bureau_data.head(5)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [5]:
bureau_balance_data.head(5)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [6]:
#bureau_balance_data.loc[bureau_balance_data["SK_ID_BUREAU"] == 5714464].empty

In [7]:
#bureau_data.loc[bureau_data["SK_ID_BUREAU"]==5714464]

In [8]:
#bureau_data.loc[bureau_data["SK_ID_CURR"]==215354]

In [9]:
#print(set(bureau_data["CREDIT_CURRENCY"].values))

In [10]:
#bureau_data.loc[bureau_data["CREDIT_DAY_OVERDUE"]!=0]

In [11]:
#set(bureau_balance_data['STATUS'].values)

In [12]:
#bureau_balance_data.loc[bureau_balance_data['STATUS']=='5']

In [13]:
#bureau_data.loc[bureau_data['SK_ID_BUREAU'] == 5230570]

In [14]:
#bureau_data['BALANCE_STATUS'] = 'Unknown'
bureau_data['COUNT'] = 1
bureau_data.head(5)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,COUNT
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,1
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,1
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,1
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,1
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,1

In [15]:
'''COUNT_CREDIT = groupby(SK_ID_CURR).countof(CREDIT_ACTIVE)
MAX_OVERDUE_DAY = groupby(SK_ID_CURR).maxof(CREDIT_DAY_OVERDUE)
SUM_DEBT = groupby(SK_ID_CURR).sumof(AMT_CREDIT_SUM_DEBT)
SUM_OVERDUE = groupby(SK_ID_CURR).sumof(AMT_CREDIT_SUM_OVERDUE)'''

'COUNT_CREDIT = groupby(SK_ID_CURR).countof(CREDIT_ACTIVE)\nMAX_OVERDUE_DAY = groupby(SK_ID_CURR).maxof(CREDIT_DAY_OVERDUE)\nSUM_DEBT = groupby(SK_ID_CURR).sumof(AMT_CREDIT_SUM_DEBT)\nSUM_OVERDUE = groupby(SK_ID_CURR).sumof(AMT_CREDIT_SUM_OVERDUE)'

## 从bureau.csv中提取出特征

** 按credit_active分类，得到每一个sk_id_curr的当前各类的credit的数量 **

In [16]:
count_credit = bureau_data[["SK_ID_CURR",'CREDIT_ACTIVE','COUNT']].groupby(["SK_ID_CURR",'CREDIT_ACTIVE']).count()
count_credit = count_credit.unstack(1)

In [17]:
count_credit = count_credit.fillna(0).astype(int)
#count_credit['COUNT']["Active"]

In [18]:
active_credit = count_credit['COUNT']['Active']
baddebt_credit = count_credit['COUNT']['Bad debt']
close_credit = count_credit['COUNT']['Closed']
sold_credit = count_credit['COUNT']['Sold']  #Series

In [19]:
clean_data = pd.DataFrame({"CNT_ACTIVE_CREDIT":active_credit,
                           "CNT_BADDEBT_CREDIT":baddebt_credit,
                           "CNT_CLOSE_CREDIT":close_credit,
                           "CNT_SOLD_CREDIT":sold_credit})

In [20]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305811 entries, 100001 to 456255
Data columns (total 4 columns):
CNT_ACTIVE_CREDIT     305811 non-null int64
CNT_BADDEBT_CREDIT    305811 non-null int64
CNT_CLOSE_CREDIT      305811 non-null int64
CNT_SOLD_CREDIT       305811 non-null int64
dtypes: int64(4)
memory usage: 11.7 MB

** 得到每一个sk_id_curr的最大overdue_day **

In [21]:
max_overdue_day = bureau_data[['SK_ID_CURR','CREDIT_DAY_OVERDUE']].groupby('SK_ID_CURR').max() #DataFrame

In [22]:
max_overdue_day.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305811 entries, 100001 to 456255
Data columns (total 1 columns):
CREDIT_DAY_OVERDUE    305811 non-null int64
dtypes: int64(1)
memory usage: 4.7 MB

** 得到每一个sk_id_curr的总负债（bureau.csv中) **

In [23]:
sum_debt = bureau_data[['SK_ID_CURR','AMT_CREDIT_SUM_DEBT']].groupby('SK_ID_CURR').sum()

In [24]:
sum_debt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305811 entries, 100001 to 456255
Data columns (total 1 columns):
AMT_CREDIT_SUM_DEBT    305811 non-null float64
dtypes: float64(1)
memory usage: 4.7 MB

** 得到每一个sk_id_curr的总overdue的数值 (bureau.csv中）**

In [25]:
sum_over = bureau_data[['SK_ID_CURR','AMT_CREDIT_SUM_OVERDUE']].groupby('SK_ID_CURR').sum()

In [26]:
sum_over.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305811 entries, 100001 to 456255
Data columns (total 1 columns):
AMT_CREDIT_SUM_OVERDUE    305811 non-null float64
dtypes: float64(1)
memory usage: 4.7 MB

** 把所有的数据Join成一张表格**

In [27]:
clean_data = pd.concat([clean_data,max_overdue_day,sum_debt,sum_over],axis=1)

In [37]:
clean_data.head(5)

,BU_ACTIVE_CREDIT,BU_BADDEBT_CREDIT,BU_CLOSE_CREDIT,BU_SOLD_CREDIT,BU_MAX_DAY_OVERDUE,BU_SUM_DEBT,BU_SUM_OVERDUE
SK_ID_CURR,,,,,,,
100001,3,0,4,0,0,596686.5,0.0
100002,2,0,6,0,0,245781.0,0.0
100003,1,0,3,0,0,0.0,0.0
100004,0,0,2,0,0,0.0,0.0
100005,2,0,1,0,0,568408.5,0.0

In [29]:
colomns = ['BU_ACTIVE_CREDIT',
           'BU_BADDEBT_CREDIT',
           'BU_CLOSE_CREDIT',
           'BU_SOLD_CREDIT',
           'BU_MAX_DAY_OVERDUE',
           'BU_SUM_DEBT',
           'BU_SUM_OVERDUE']
clean_data.columns = colomns

In [30]:
#clean_data.set_index('SK_ID_CURR')

In [31]:
#clean_data = clean_data.reset_index()
clean_data.to_csv((data_dir+'/bu_clean.csv'))

## 用bureau_balance中的数据得出信用的信息
** 因为考虑到数据量大，且大量的数据在bureau_data中有反映，故暂时不处理 **

In [32]:
'''status_dict = {'5':5,
               '4':4,
               '3':3,
               '2':2,
               '1':1,
               '0':0,
               'C':-1,
               'X':-2}
bureau_balance_data['STATUS'] = bureau_balance_data['STATUS'].map(status_dict).astype(int)
#bureau_data['BALANCE_STATUS'] = 'Unknown'
#bureau_data['MONTHS_BALANCE'] = 1
bureau_id = bureau_data['SK_ID_BUREAU'].values
status = []
month_balance = []
for i,b_id in enumerate(bureau_id):
    tmp = bureau_balance_data.loc[bureau_balance_data['SK_ID_BUREAU']==b_id]
    if i % 1000 == 0:
        print(i)
    if not tmp.empty:
        status_tmp = np.max(tmp['STATUS'])
        status.append(status_tmp)
        month_balance.append(np.max(tmp.loc[tmp['STATUS'] ==status_tmp]['MONTHS_BALANCE'].values))
        #bureau_data.loc[bureau_data['SK_ID_BUREAU'] == b_id,'BALANCE_STATUS'] = status
        #bureau_data.loc[bureau_data['SK_ID_BUREAU'] == b_id,'MONTHS_BALANCE'] = month_balance            '''

"status_dict = {'5':5,\n               '4':4,\n               '3':3,\n               '2':2,\n               '1':1,\n               '0':0,\n               'C':-1,\n               'X':-2}\nbureau_balance_data['STATUS'] = bureau_balance_data['STATUS'].map(status_dict).astype(int)\n#bureau_data['BALANCE_STATUS'] = 'Unknown'\n#bureau_data['MONTHS_BALANCE'] = 1\nbureau_id = bureau_data['SK_ID_BUREAU'].values\nstatus = []\nmonth_balance = []\nfor i,b_id in enumerate(bureau_id):\n    tmp = bureau_balance_data.loc[bureau_balance_data['SK_ID_BUREAU']==b_id]\n    if i % 1000 == 0:\n        print(i)\n    if not tmp.empty:\n        status_tmp = np.max(tmp['STATUS'])\n        status.append(status_tmp)\n        month_balance.append(np.max(tmp.loc[tmp['STATUS'] ==status_tmp]['MONTHS_BALANCE'].values))\n        #bureau_data.loc[bureau_data['SK_ID_BUREAU'] == b_id,'BALANCE_STATUS'] = status\n        #bureau_data.loc[bureau_data['SK_ID_BUREAU'] == b_id,'MONTHS_BALANCE'] = month_balance            "

In [33]:
#%timeit tmp = bureau_balance_data.loc[bureau_balance_data['SK_ID_BUREAU']==5230570]
#%timeit tmp.empty

In [34]:
a = bureau_data['SK_ID_BUREAU'].values
np.shape(a)
%timeit np.append(a, np.ndarray([1]) ,axis = 0)

6.21 ms ± 518 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

0